body{
    background-color: #131f29;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    /* background-color: transparent; */
    /* border: 1px solid #fcfcfc; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
   
    margin-right: 150px;
}
h5{
    
    margin-left: 150px;
}
nav a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 12px;
    font-weight: 200;
    margin-right: 40px;
    transition: color 0.4s ease-in-out;
}

nav a:hover {
    color: #fe715a;
    font-size: 16px;  
}

/* Main content styles */
.intro-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}
.text-box{
    
     width: 40%;
}

.text-box h3{
    font-size: 26px;
    font-weight: 600;
    margin-left: 60px;
}
.text-box hr{
    width: 100px; 
    height: 2px; 
    background-color: #fe715a; 
    border: none; 
    margin-left: 0; 
    margin-right: 0px;
    position: relative;
    top: 10px; /*nhabto hr ma8ir man2thro aala span */
    
    display:inline-block;/*respects widht and height inline only doesn't respect width and height*/
    
}

.text-box span{
   font-size: 16px;
}
.text-box p{
    font-size: 28px;
    font-weight: 800;
    margin-left: 60px;
    margin-top: 30px;

}
.btn-project{
    background-color: #fe715a;
    color: #fcfcfc;
    font-family:'Poppins', sans-serif ;
    padding: 8px;
    border: none;
    border-radius: 1px;
    margin-left: 60px;
    margin-right: 10px;
    
    /* transition: transform 0.4s ease-out; */
}

/* .btn-project:hover{
    transform: scale(1.1);
    cursor: pointer;
} */

.btn-cv{
    background-color: transparent;
    color: #fcfcfc;
    font-family:'Poppins', sans-serif ;
    padding: 8px;
    border: 1px solid #fe715a;
    border-radius: 1px;
    /* transition: transform 0.4s ease-out; */

}
/* .btn-cv:hover{
    
    transform: scale(1.1);
    cursor: pointer;
} */



.profile-container {
    position: relative;
    width: 50%;
    height: 300px;
    margin: auto;
  }
  
  .circle-background {
    position: absolute;
    top: 0px;
    left: 35%;
  
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 
    inset 0 0 20px 5px #fe715a, /* Inner shadow */
        0 0 600px #fe715a;      /* Outer shadow */;
    background-color: transparent;
    border: 15px solid rgba(237,104,85,255);
     z-index: 2; 
  }
  
.profile-photo {
    position: relative;      
    bottom:  120px;
    left: 200px;
    
    width: 500px;
    height: 500px;
    object-fit: fill;
     
     z-index: 3; 
  }
   

  /* /// skills section :: /// */
  .skills-section{
    margin-top: 70px;
  }

  .skills-nav{
    background-color: #17222c;
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
  }
  .skills-nav a{
    color: #38424d; 
}